flask
opencv-python
pillow
numpy
pyngrok
requests
mysql-connector-python
supabase
flask-socketio 
eventlet 
werkzeug

# hapus dan jalankan 

python -m venv env
env\Scripts\activate
pip install -r requirements.txt
