body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f4f8;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 700px;
    margin: 50px auto;
    background-color: #ffffff;
    padding: 30px 40px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border-radius: 12px;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

.form-check {
    margin-bottom: 15px;
}

.form-check input[type="checkbox"] {
    transform: scale(1.2);
    margin-right: 10px;
    cursor: pointer;
}

.form-check-label {
    font-size: 16px;
    color: #333;
    cursor: pointer;
}

.submit-btn {
    display: inline-block;
    padding: 7px 20px;
    background: linear-gradient(100deg, #74ebd5, #919ac6);
    color: #170e5e;
    width: 100%;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 20px;
    cursor: pointer;
}

.submit-btn:hover {
    background: linear-gradient(100deg, #919ac6, #74ebd5);
}

 .form-floating-custom {
        margin-top: 50px;
        position: relative;
        margin-bottom: 1rem;
    }

    .form-floating-custom input {
        padding-left: 1.5rem; /* lebih jauh dari ikon */
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
        font-size: 1.25rem; /* lebih besar */
        border-radius: 16px;
        transition: all 0.3s ease;
        box-shadow: none;
        height: auto;
    }

    .form-floating-custom input:focus {
        border-color: #6c63ff;
        font-size: 1rem;
        box-shadow: 0 0 0 0.2rem rgba(108, 99, 255, 0.25);
    }

    .form-floating-custom label {
        position: absolute;
        left: 3rem;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.2s ease;
        color: #aaa;
        pointer-events: none;
        font-size: 1rem;
    }

    .form-floating-custom input:focus + label,
    .form-floating-custom input:not(:placeholder-shown) + label {
        top: -10px;
        font-size: 0.85rem;
        background: #fff;
        padding: 0 6px;
        color: #6c63ff;
    }

    .form-floating-custom .input-icon {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        color: #6c63ff;
        font-size: 1.5rem; /* ikon lebih besar */
    }

@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    .form-check-label {
        font-size: 15px;
    }

    .submit-btn {
        font-size: 15px;
        padding: 10px;
    }
}