<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/footer.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <footer class="footer">
        <div class="footer-container">
          <div class="footer-section">
            <h3>TENTANG </h3>
            <p class="deskrib">tentang
              <div class="social-icons">
                <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i> Facebook</a>
                <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i> Instagram</a>
            </div>
          </div>
      
          <div class="footer-section">
            <h3>TAUTAN CEPAT</h3>
            <ul>
              <li><a href="#">Tentang Kami</a></li>
              <li><a href="#">Fitur</a></li>
              <li><a href="#">Kolaborator</a></li>
              <li><a href="#">Hubungi Kami</a></li>
            </ul>
          </div>
      
          <div class="footer-section">
            <h3>HUBUNGI KAMI</h3>
            <p>Jangan ragu untuk menghubungi kami!</p>
            <ul>
              <li>Email: <a href="mailto:contact@arutalaaksara.com">c</a></li>
              <li>Instagram: <a href="https://instagram.com/arutala.app" target="_blank">a</a></li>
              <li>Facebook: <a href="https://facebook.com/ArutalaApp" target="_blank">A</a></li>
              <li>LinkedIn: <a href="https://linkedin.com/company/arutalaapp" target="_blank">A</a></li>
            </ul>
          </div>
      
          <div class="footer-section">
            <h3>SUMBER DAYA</h3>
            <ul>
              <li><a href="#">Area Dukungan</a></li>
              <li><a href="#">Dokumentasi</a></li>
              <li><a href="#">Kolaborator</a></li>
              <li><a href="#">Hubungi Kami</a></li>
            </ul>
          </div>
        </div>
      
        <div class="footer-bottom">
          <p>© 2025. All rights reserved.</p>
        </div>
      </footer>      
</body>
</html>