<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    {% include "head.html" %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/css/hasil.css">
    <style>
        .alert-danger {
            display: none; 
            background-color: #f8d7da;
            color: #721c24;
            border: 1px solid #f5c6cb;
            padding: 10px;
            margin-bottom: 15px;
            border-radius: 5px;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2>Hasil Diagnosa</h2>
        <div class="result-section">

            <!-- ALERT BAHAYA -->
            <div id="alert" class="alert-danger">
                ⚠️ Peringatan: Salah satu penyakit yang terdeteksi berpotensi berbahaya!
            </div>

            {% for h in hasil %}
                <div class="penyakit-item">
                    <p><strong>Penyakit {{ loop.index }}:</strong> {{ h.nama }} </p>
                    <p><strong>Presentase :</strong> {{ h.skor | round(2) }}%</p>
                    <p><strong>Definisi:</strong> {{ h.definisi }}</p>
                    <p><strong>Rekomendasi Penanganan:</strong></p>
                    <ul>
                        {% for line in h.rekomendasi.split('\n') %}
                            <li>{{ line }}</li>
                        {% endfor %}
                    </ul>
                    <hr>
                </div>
            {% endfor %}

            <div class="tombol">
                <a href="/prediksi" class="back">Kembali</a>
                <a href="/" class="back-menu">Menu Home</a>
            </div>
        </div>
    </div>
    <script id="data-penyakit" type="application/json">
        {{ hasil | tojson }}
    </script>
    <script>
  document.addEventListener("DOMContentLoaded", function () {
    const raw = document.getElementById("data-penyakit").textContent;
    const penyakitList = JSON.parse(raw);

    console.log("Data penyakit:", penyakitList);

    const berbahaya = penyakitList.some(p => {
      const nama = p.nama.toLowerCase();
      return nama.includes("african swine fever atau demam babi afrika") ||
             nama.includes("hog cholera");
    });

    if (berbahaya) {
      const alertDiv = document.getElementById("alert");
      alertDiv.style.display = "block";
      setTimeout(() => {
        alertDiv.style.display = "none";
      }, 30000);
    }
  });
</script>


</body>
</html>
